*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*  {
	font-family: Raleway, Ubuntu, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, html a {
	-webkit-font-smoothing: subpixel-antialiased !important;
}

html {
	overflow-y: scroll;
}

body {
	font-size: $font-size;
	background: $white;
	color: $black;
	padding: .5em;
	word-wrap: break-word;
}

.wrapper {
	max-width: 50em;
	margin: 0 auto;
	background: white;
	padding: 2em 2.6em 0 2.6em;
	border-radius: $border-radius;
	border: 1px solid $gray;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

a {
	color: $black;
	text-decoration: none;
}

h1 {
	margin: 0;
	font-size: #{$phi}em;
	font-weight: normal;
	margin-bottom: .5em;
}