// Fullscreen on non-large screens
@media all and (max-width: 767px) {

	body {
		padding-top: 0;
		background: white;
	}

	.wrapper {
		padding: .5em;
		border: none;
		box-shadow: none;
	}

	.summary {
		margin: 1.6em;
		margin-bottom: .5em;
	}

	footer {
		margin: 0;
	}

}

/* Hide modified column on small screens */
@media all and (max-width: 40em) {
	.col-modified {
		display: none;
	}
}

/* Hide size column on tiny screens */
@media all and (max-width: 20em) {
	.col-size {
		display: none;
	}
}