// Fullscreen on non-large screens
@media all and (max-width: 767px) {

	body {
		padding-top: 0;
		background: white;
	}

	.wrapper {
		padding: .5em;
		border: none;
		box-shadow: none;
	}

	.summary {
		margin: 1.6em;
		margin-bottom: .5em;
	}

	footer {
		margin: 0;
	}

}

/* Small screens */
@media all and (max-width: 40em) {

	body,
	.wrapper {
		padding: 0;
	}

	table {
		font-size: 1.1em;
	}

	.col-name .media-img {
		position: relative;
		top: .15em;
	}

	.col-modified {
		display: none;
	}

}

/* Hide size column on tiny screens */
@media all and (max-width: 20em) {
	.col-size {
		display: none;
	}
}