################################### Teepee ####################################

# Start rewrite_module
RewriteEngine On
RewriteBase /

# Only if directory without default document
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index\.html !-f
RewriteCond %{REQUEST_FILENAME}/index\.php !-f

# Path to Teepee from webroot
RewriteRule .* /resources/teepee/ [L]

# Handle 404s
ErrorDocument 404 /resources/teepee/

################################# End Teepee ##################################