*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

html, html a {a
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
	overflow-y: scroll;
}

body {
	font-family: Raleway, Ubuntu, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	background: #e5e5e5;
	color: #555;
	padding: 1.6em;
	word-wrap: break-word;
}

.wrapper {
	max-width: 50em;
	margin: 0 auto;
	background: white;
	padding: 1.6em;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

a {
	color: #555;
	text-decoration: none;
}

h1 {
	margin: 0;
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: .5em;
}

.home {
	background: url('icons/folder.png');
}

.home:hover {
	background: url('icons/folder-home.png');
}

.breadcrumb:hover {
	color: inherit;
	text-decoration: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
	background: -webkit-linear-gradient(white, white);
	background: -moz-linear-gradient(white, white);
	background: -o-linear-gradient(white, white);
	background: linear-gradient(white, white), -webkit-linear-gradient(white, white), -webkit-linear-gradient(#333332, #333332);
	background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
	background-repeat: no-repeat, no-repeat, repeat-x;
	text-shadow: 0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white, 0.12em 0 white, -0.12em 0 white, 0.15em 0 white, -0.15em 0 white;
	background-position-y: 90%, 90%, 90%;
	background-position-x: 0%, 100%, 0%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tbody tr {
	border-bottom: 1px solid #eee;
}

tr:hover td {
	background: #f7f7f7;
	background: #e5e5e5;
}

th {
	text-align: left;
	font-weight: normal;
}

th,
table a {
	padding: .5em 10px;
}

table a {
	display: block;
}

.summary {
	margin-top: 1.6em;
	text-align: center;
}

.faded {
	color: #999;
}

.smallcaps {
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	position: relative;
	top: 2px;
}

h1 .icon {
	top: -2px;
}

.col-icon {
	width: 1px;
}

.col-size,
.col-modified,
.head-size,
.head-modified {
	text-align: right;
}

.col-icon,
.col-size,
.col-modified {
	width: 1px;
	white-space: nowrap;
}

/* More padding on large screens */
@media all and (min-width: 1023px) {

	body {
		padding: 2.6em;
	}

	.wrapper {
		padding: 2.6em;
	}

	h1 {
		margin-bottom: 1em;
	}

	.summary {
		margin-top: 3em;
	}

}

/* Less padding on small screens */
@media all and (max-width: 767px) {

	body {
		padding: .5em;
	}

	.wrapper {
		padding: 1em;
	}

	h1 {
		margin-bottom: .3em;
	}

	.summary {
		margin-top: 1.2em;
	}

}

/* Hide "Modified" column */
@media all and (max-width: 30em) {
	.col-modified,
	.head-modified {
		display: none;
	}
}

/* Hide "Size" column */
@media all and (max-width: 20em) {
	.col-size,
	.head-size {
		display: none;
	}
}