table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	font-weight: normal;
}

table a {
	display: block;
}

th,
table a {
	padding: .5em 10px;
}

td,
table .col-icon a {
	padding: 0;
}

tbody tr a {
	border-bottom: 1px solid #eee;
}

tr:hover td {
	background: #e5e5e5;
}

td .icon {
	margin-right: .5em;
}

.col-name {
	width: 100%;
}

.col-size,
.col-modified {
	white-space: nowrap;
	text-align: right;
}
