.icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	position: relative;
	top: 2px;
}

h1 .icon {
	top: -2px;
}

.home {
	background: url('../../icons/folder.png');
}

.home:hover {
	background: url('../../icons/folder-home.png');
}
