/* Extra spacing on large screens */
@media all and (min-width: 1023px) {

	.wrapper {
		padding: 2em 2.6em;
	}

	h1 {
		margin-bottom: 1em;
	}

	.summary {
		margin-top: 3em;
	}

}

/* Make fullscreen on non-desktop-sized screens */
@media all and (max-width: 767px) {

	body {
		padding: 0;
		margin: 0;
		background: white;
	}

	.wrapper {
		padding: 1em;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	h1 {
		margin-bottom: .3em;
	}

	.summary {
		margin-top: 1.2em;
	}

}

/* Hide modified column on small screens */
@media all and (max-width: 30em) {
	.col-modified {
		display: none;
	}
}

/* Hide size column on tiny screens */
@media all and (max-width: 20em) {
	.col-size {
		display: none;
	}
}