button {
	border-radius: $border-radius;
	border: none;
	font-weight: bold;
	font-size: .9em;
	padding: .3em .5em;
	color: $gray;
	border: 1px solid $gray;
	background: transparent;
}

button:hover,
button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
	color: $blue;
	border-color: $blue;
}

button:active,
button:focus {
	position: relative;
	top: 2px;
}

// Button types

// .button-default {
// 	background: $blue;
// 	color: white;
// }